html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap"); /* font-family: 'Barlow', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;800&display=swap");
